div{
    height:100px;
    width:100px;
    background-color: aqua;
    text-align: center;
   /*    display:none;*//* by default display value is "block"*/
}
ul ul
{
    display:none;
}
li:hover>ul{
    
      display:block;
    
}
