div {
    height: 200px;
    width: 200px;
    padding: 2px;
    margin: 200px;
    border: 3px;
    border-color: grey;
}

#display {
    background-color: white;
}

table{
    background-color: rgb(3, 3, 3)
}

input {
    background-color: aliceblue
}
input:hover {
    background-color: rgb(142, 167, 189)
}