<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    Hello 
    {{#if user}}
        Hi, {{user.name}}
    {{else}}
        <a href="/login"> Login </a>
    {{/if}}
</body>
</html>