<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <form action="/login" method="POST">
        Username: <input type="text" name="username">
        <br>
        Password: <input type="password" name="password">
        <br>

        <button>Login</button>
    </form>
</body>
</html>