*{
    margin: 0; 
    padding : 0;
}

#primenumber, #removedup ,#maindiv{
    height: 100vh;
    width: 100vw;
    min-height: 
}

#maindiv{
    background: url(../images/hw.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    min-height: 500px;
}

#primenumber{
    background: url(../images/prime.jpeg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

#removedup{
    background: url(../images/arts-arts-and-crafts-concept-1314543.png) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

.buttondiv{
    width: 51%;
    padding-left: 35%;
    margin-left: 5%;
    size: 20vh;
    border-bottom: 2px solid rgb(188, 216, 187);
    padding-bottom: 20px;
}

.internaldiv,.internalprime,.internaldup{
    border-radius: 10%;
    opacity: 0.8;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

.internalprime{
    background-color: rgba(158, 199, 192, 0.561);
    min-height: 500px;
}

.internaldiv{
    background-color: rgb(11, 89, 141);
}

.internaldup{
    background-color: rgb(111,111,111);
}

h1{
    font-size: 5em;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

h2{
    color: black;
    font-size: 40px;
    padding-top: 10%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

h3{
    color: rgb(160, 37, 37);
    padding-top: 5%;
    margin-left: 21%;
    text-justify: auto;
    width: 60%;
    text-align: center;
    font-size: 3em;
}

li{
    font-size: 42px;
    list-style: circle;
}

a{
    margin-left: 30%;
    text-decoration: none;
    color: rgb(191, 191, 191)
}

div{
    overflow: auto;
}

input{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    margin-left: 33%;
    background-color: ;
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
}

button{
    opacity: 1;
    background-color: grey;
    padding: 15px;
    border-radius: 6px;
    font-size: 15px;
}