.outer{
    height: 300px;
    width: 300px;
    perspective: 900px;
    margin-left: 600px;
    margin-top: 170px;
}
.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

  transform: translateZ(-100px) rotateX(18deg) rotateY(9deg) ;
  transition: transform 1s;
}


.face{
    position: absolute;
    height: 300px;
    width: 300px;
    border: solid 2px black;
    font-size: 6em;
    text-align: center;
    line-height: 300px;
    font-weight: bold;
    background-color: rgba(27, 126, 255, 0.589);
    color: antiquewhite;
}
.front{
    transform: rotateY(0deg) translateZ(150px);
    
}
.right{
    transform: rotateY(90deg) translateZ(150px);
    
}

.left{
    transform: rotateY(-90deg) translateZ(150px);
}

.back{
    transform: rotateY(180deg) translateZ(150px);
    
}

.top{
    transform: rotateX(90deg) translateZ(150px);
    
}

.bottom{
    transform: rotateX(-90deg) translateZ(150px);
    
}

.cube:hover{
    transform:  translateZ(-100px) rotateZ(45deg) rotateX(30deg);
    transition: 1.5s;
}

.cube:active{
    transform:  translateZ(-100px)rotateY(75deg) rotateZ(150deg);
    transition: 1.5s;
}