#title{
    width: 100%;
    height: 80px;
    background-color: rgb(32, 32, 32);
    color: rgb(216, 122, 122);
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
}

.text1{
    font-size: 35px;
    display: inline;
    margin-left: 80px;
}


input[type=text]{
    width: 300px;
    height: 30px;
    border: 1px solid lightgrey;
}

input[type=text]:focus {
    outline: none;
    border: 3px solid rgb(0, 0, 0);
  }

.strikeText{
    text-decoration: line-through rgb(131, 0, 0);
}

#list{
    font-size: 25px;
    margin-left: 15%;
    list-style-type: circle;
}

#clearTasks{
    margin-left: 15%;
}

button{
    color: whitesmoke;
    background-color: rgb(65, 65, 65);
    height: 30px;
    width: 150px;
}

button:hover{
    border: solid 1px black;
    box-shadow: 2px 2px 1px black; 
    color: rgb(240, 96, 83);
    transform: scale(1.15);
    font-weight: bold;
    transition: 0.2s;
}

